@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation


<!DOCTYPE html>
<html>
<head>
</head>

<body>
    @Html.Sitecore().Placeholder("Header")
    @Html.Sitecore().Placeholder("Main")
    @Html.Sitecore().Placeholder("Footer")
</body>
</html>